/*Global Settings START*/
.btn--primary{
  border-radius: 5px;
}
/*Global Settings END*/

.nav>li>a {
position: relative;
display: block;
padding: 10px 9px;
}

/*Web Hosting Page START*/
/*bannerHome Background START*/
.banner--bg-animate{
background-size: 100%;
background-position: center center;
}

h1{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:0px;
  margin:0px;
  font-size: 55px;
}

.h1-sub{
  color: rgba(255,255,255,0.6);
}

.banner--content h2{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  font-size: 1.4em;
  font-weight: 200;
  color: #fff !important;
  line-height:1.3em;
}


.banner--content ul li, .banner--content ol li{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: top;
  padding: 0 0 0 10px;
  margin: 0 0 10px;
  line-height: 1.2em;
  font-size: 18px;
}

.text-between-button{
  position: relative;
  bottom: 15px;
}
/*bannerHome Background END*/

/*Slogan Title START*/
.reviewTitle{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:black;
  text-align:center;
  padding:10px 0px 10px 0px;
  margin:0px;
}
/*Slogan Title END*/

/*Reviews START*/
.reviewHeading{
  margin-top: 50px;
}
/*Reviews ENd*/

/*Review carousel START*/
.carousel-content{
  color:black;
  display:flex;
  align-items:center;
  text-align:center;
  font-size: 18px;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 20px;
}

.carousel-button{
  text-align:center;
  margin-bottom:20px;
}
/*Review carousel END*/

/*Pricing Table START*/
.pricing--item {
    margin-top: 50px;
    padding-bottom: 55px;
    background-color: white;
    border: 0px solid #f0f0f0;
}

.section--title{
    margin-bottom: 20px;
}

.banner--content.pricing-table{
  padding:10px 0px 0px 0px;
}

.pricing-table-p{
  color:black;
  width:100% !important;
  text-align:left;
}
/*Pricing Table END*/


/* START Line Spacing Technical , what do you get list */
.techList{
  line-height: 2em;
}


/* END Line Spacing Technical , what do you get list */
/*Web Hosting Page END*/

/*Footer*/
#footer{
  z-index:0;
}

.footer--widget{
  margin-top: 45px;
}

.size-quote{
  margin:30px; font-size:30px;
}

@media only screen and (max-width: 510px) {
  .size-quote{
    margin:30px; font-size:20px;
  }
}

@media only screen and (max-width: 400px) {
  .size-quote{
    margin:30px; font-size:15px;
  }
}

@media screen and (max-width: 991px) {
#footer {
  padding: 50px 0 50px !important;
}
}

/*Colour Changes*/
.btn--primary{
  background-color: #e82121 !important;
}

span{
  color: #e82121 !important;
}

#banner .bx-pager-link, .domain-search--form .input--radio .radio-inline input:checked + span:before, .footer--links ul li a:hover, .footer--links ul li a:focus, .domain-ext--content, .counter-2--num, .pricing-2--header, .blog--post-pagination .pagination > li > a:hover, .blog--post-pagination .pagination > li > a:focus, .blog--post-pagination .pagination > li.active > a, .blog--links-widget ul li a:hover, .blog--links-widget ul li a:focus {
  border-color: #e82121 !important;
}

.btn--primary, #headerNav .nav > .dropdown > .dropdown-menu > li > a:hover, #headerNav .nav > .dropdown > .dropdown-menu > li > a:focus, #headerNav .nav > .dropdown > .dropdown-menu > li.active > a, #header .navbar-toggle .icon-bar, #banner .bx-pager-link.active, .domain-search--form .input--text input.valid + .highlight, .domain-search--form .input--radio .radio-inline input:checked + span:before, .subscribe--form .input--text input.valid + .highlight .highlight, .footer--widget h2:before, .faq--content .accordion .panel-heading a, .domain-ext--content:before, .domain-ext--name:before, .faq--categories h3:before, .faq--categories ul li a:hover, .faq--categories ul li.active a, .login--form .form-group input.valid + .highlight, .pricing-2--header:before, .f0f--search-bar input.valid + .highlight, .blog--post-pagination .pagination > li > a:hover, .blog--post-pagination .pagination > li > a:focus, .blog--post-pagination .pagination > li.active > a, .blog--widget-title:before, .blog--search-widget .input--text input.valid + .highlight, .blog--twitter-widget .blog--widget-title, .blog--post-comments-title h3:before, .blog--post-comment-form .title h3:before, .blog--post-comment-form-group input.valid + .highlight, .blog--post-comment-form-group textarea.valid + .highlight, .contact--address h2:before, .contact--form input.valid + .highlight, .contact--form textarea.valid + .highlight {
  background-color: #e82121 !important;
}

h2 strong{
  color: #e82121 !important;
}

.col-md-2{
  float: left;
}
